@media (max-width: 480px) {

  .topnav {

    text-align: left;
    padding: 10px 0 0 15px;
    height: $topnav-height;
    width: 100%;

    h2 {
      font-size: 14px;
      line-height: 1;
      margin: 0;

      &:after {
        content: '\A'; //line break
      }

    }

    h3 {
      margin: 0;
      font-size: 11px;
    }

    .logo-link {
      white-space: normal;
    }

    #trigger-overlay {
      margin-top: 6px;
      margin-right: 30px;
      span {
        display: none;
      }
    }
  }

  .uk-overlay-panel {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 35px;

    padding-left: 20px;

    h4 {
      font-size: 28px;
    }

    h5 {
      font-size: 14px;
    }

  }

  .uk-dotnav > * > * {
    display: block;
    box-sizing: content-box;
    width: 40px;
    height: 4px;
    border-radius: 0;
    background: rgba(255, 255, 255, .8);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .overlay {

    ul {
      width: 50%;

    }

    ul li a {
      font-weight: normal;
      font-size: 20px;
      line-height: 2.1;
      display: block;
      color: #fff;
      -webkit-transition: color 0.2s;
      transition: color 0.2s;
    }

    .submenu {

      li a {
        font-size: 12px;
      }
    }
  }

  .aside, .sliding-aside {
    padding-left: 30px;
    padding-right: 10px;
    min-height: auto;

    height: auto;
    overflow-y: hidden;
  }

  .bottom-links {
    .btn-prev {
      text-align: left;
    }

    .btn-next {
      text-align: right;
    }

  }

  /*plan page*/

  .table {
    width: 90%;
    margin-left: 30px;

    .table-header h3 {
      font-size: 11px;
    }

    h6 {
      font-size: 9px;

    }
  }

  /*Impressum*/
  .text-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .text-content p a {
    display: flex;
    flex-wrap: wrap;
  }

  .aside, .sliding-aside, .main {
    h1, h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 25px;
    }
  }
  .width800 h2{
    font-size: 25px;
  }
}

@media (max-width: 380px) {
  .table {
    .table-header h3 {
      font-size: 9px;
    }

    h6 {
      font-size: 8px;
    }
    .uk-grid > *{
      padding-left: 5px;
    }
  }
}