@charset "UTF-8";
@media (max-width: 1460px) {
  .width800 h2 {
    font-size: 25px; } }
@media (max-width: 1045px) {
  .table .table-header h3 {
    font-size: 15px; }
  .table h6 {
    font-size: 14px; }
  .table .uk-grid > * {
    padding-left: 11px; } }
@media (max-width: 800px) {
  /*Slideshow*/
  .sliding-aside.open {
    position: relative;
    width: auto;
    height: auto;
    min-height: auto; }

  .sliding-aside.closed {
    position: relative;
    width: auto;
    height: auto;
    min-height: auto;
    cursor: pointer;
    top: 0;
    left: 0%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.9); }
    .sliding-aside.closed h1, .sliding-aside.closed p {
      transition: 0.5s;
      opacity: 1; }
    .sliding-aside.closed .bottom-links {
      transition: 0.3s;
      opacity: 1; }
    .sliding-aside.closed:hover {
      transition: 0.2s;
      background: rgba(255, 255, 255, 0.8);
      left: -1%; }

  .bottom-links {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    width: 85%;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    height: 40px;
    background: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    opacity: 1;
    /*Добавил для централизации*/
    left: 50%;
    margin-left: -42.5%;
    z-index: 100; }

  .aside, .main {
    width: 100%; }

  .aside-content {
    width: 100%;
    position: relative !important; }

  .main {
    padding-top: 80px;
    padding-bottom: 100px; }

  .main p {
    padding-left: 10px; }

  /*Kontakt page*/
  .main h2 {
    margin-left: 10px; }

  .contact-form {
    width: 90%;
    margin-left: 10px; }

  /*map*/
  #map {
    height: 100vh; }

  /*plan*/
  .table {
    width: 90%;
    margin-left: 40px;
    margin-top: 50px; }
    .table .table-header h3 {
      font-size: 17px; }
    .table h6 {
      font-size: 15px; }
    .table .uk-grid > * {
      padding-left: 10px; }

  .topnav h2::after {
    content: none; }

  /*Floorplan*/
  .zoomer {
    width: 100%;
    padding-bottom: 100px; }

  .zoomer .uk-slidenav-position .uk-slidenav-previous {
    left: -130px; } }
@media (max-width: 730px) {
  /*Header*/
  .topnav {
    height: 70px;
    padding-bottom: 0px; }

  .topnav h2 {
    margin-top: 5px;
    margin-bottom: 0px; }

  .topnav h3 {
    margin-top: 5px;
    margin-bottom: 0px; }

  .topnav #trigger-overlay {
    margin-top: 22px;
    margin-right: 30px; }

  /*Slider*/
  .uk-overlay-panel {
    width: 400px; }

  .uk-overlay-panel h4 {
    font-size: 33px; } }

/*# sourceMappingURL=max-width-800.css.map */
