@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");
@import url("https://fonts.googleapis.com/css?family=Marcellus:400");
.page.show-logo::after {
  background-image: url(../img/zdc-logo.png);
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 186px;
  height: 34px;
  z-index: 99; }

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  display: block;
  height: 50px;
  background-color: #1a2f51;
  color: #fff;
  z-index: 99;
  padding: 0px 0 10px 30px; }
  .topnav a {
    text-decoration: none; }
  .topnav .logo-link {
    display: inline-block;
    vertical-align: middle; }
  .topnav h2 {
    display: inline-block;
    font-family: "Marcellus", serif;
    font-weight: normal;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s; }
    .topnav h2:after {
      content: '|';
      display: inline-block;
      font-size: 24px;
      padding: 0 8px; }
    .topnav h2:hover {
      letter-spacing: 2.5px; }
  .topnav h3 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s;
    font-weight: 300;
    font-size: 12px; }
  .topnav #trigger-overlay {
    display: inline-block;
    margin-right: 20px;
    margin-top: 17px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    background: none;
    color: #fff;
    border: none;
    transition: 0.2s; }
    .topnav #trigger-overlay .icon {
      vertical-align: middle;
      padding-left: 17px;
      font-size: 22px;
      transform: scale(1.5, 1);
      -webkit-transform: scale(1.5, 1); }
    .topnav #trigger-overlay:focus {
      outline: 0; }
    .topnav #trigger-overlay:hover {
      color: #ed7b37;
      letter-spacing: 4px; }

.aside {
  height: 100vh;
  overflow-y: scroll; }

.main {
  padding-top: 140px;
  overflow-y: scroll;
  overflow: auto;
  /*╨Ф╨Ю╨С╨Р╨Т╨Ш╨Ы ╨з╨в╨Ю╨С╨л ╨Э╨Х╨С╨л╨Ы╨Ю ╨Т╨Ш╨Ф╨Э╨Ю ╨Я╨Р╨Ы╨Ю╨Ъ ╨б╨Э╨Ш╨Ч╨г ╨Ш ╨б╨С╨Ю╨Ъ╨г PS ╨б╨Р╨и╨Р */ }

.zoomer {
  padding-top: 70px;
  padding-left: 3px;
  overflow: hidden; }
  .zoomer .zoomHolder {
    display: block;
    height: 92vh;
    width: 100%;
    overflow: hidden; }

.sliding-aside.open {
  position: absolute;
  cursor: pointer;
  height: 100vh;
  width: 34%;
  top: 0;
  left: 0%;
  z-index: 20;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.9); }
  .sliding-aside.open h1, .sliding-aside.open p {
    transition: 0.5s;
    opacity: 1; }
  .sliding-aside.open .bottom-links {
    transition: 0.3s;
    opacity: 1; }
  .sliding-aside.open:hover {
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.8);
    left: -1%; }

.sliding-aside.closed {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  width: 34%;
  top: 0;
  left: -35%;
  z-index: 20;
  background: rgba(255, 255, 255, 0.5); }
  .sliding-aside.closed:hover {
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.8);
    left: -33%; }
  .sliding-aside.closed .bottom-links {
    transition: 0.3s;
    opacity: 0; }
  .sliding-aside.closed h1, .sliding-aside.closed p {
    transition: 0.5s;
    opacity: 0; }

.aside,
.sliding-aside {
  padding-left: 70px;
  padding-right: 20px;
  overflow: scroll;
  min-height: 100%;
  overflow: auto;
  /*╨Ф╨Ю╨С╨Р╨Т╨Ш╨Ы ╨з╨в╨Ю╨С╨л ╨Э╨Х╨С╨л╨Ы╨Ю ╨Т╨Ш╨Ф╨Э╨Ю ╨Я╨Р╨Ы╨Ю╨Ъ ╨б╨Э╨Ш╨Ч╨г ╨Ш ╨б╨С╨Ю╨Ъ╨г PS ╨б╨Р╨и╨Р */ }
  .aside .text-content,
  .sliding-aside .text-content {
    padding-top: 140px; }
  .aside a,
  .sliding-aside a {
    color: #1a2f51;
    font-size: 14px;
    padding-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    transition: 0.2s;
    letter-spacing: 0; }
    .aside a:hover,
    .sliding-aside a:hover {
      text-decoration: none;
      color: #ed7b37;
      transition: 0.2s;
      letter-spacing: 2px; }
    .aside a .icon,
    .sliding-aside a .icon {
      display: inline-block;
      margin: 0 10px; }

.sliding-aside .text-content {
  padding-bottom: 100px; }

.aside h1, .aside h2, .aside h3,
.main h1,
.main h2,
.main h3,
.sliding-aside h1,
.sliding-aside h2,
.sliding-aside h3 {
  font-family: "Marcellus", serif;
  color: #1a2f51;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px; }
.aside h3,
.main h3,
.sliding-aside h3 {
  font-size: 30px; }
.aside p,
.main p,
.sliding-aside p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.bottom-links {
  width: 27%;
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  height: 40px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  opacity: 1; }

.map-legend-info h3 {
  margin: 25px 0;
  color: #1a2f51;
  letter-spacing: 1px;
  font-family: "Marcellus", serif; }
.map-legend-info ul,
.map-legend-info ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif; }

.uk-dotnav > .uk-active > * {
  background: rgba(26, 47, 81, 0.8);
  -webkit-transform: scale(1);
  transform: scale(1); }

.dotnav-position {
  margin-left: 0px; }

.uk-dotnav > * > * {
  display: block;
  box-sizing: content-box;
  width: 80px;
  height: 4px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.8);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.contact-form {
  width: 95%; }
  .contact-form input, .contact-form select, .contact-form textarea, .contact-form label {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300; }
  .contact-form .uk-form-row {
    margin: 10px 0; }
  .contact-form input[type="text"],
  .contact-form input[type="tel"],
  .contact-form input[type="email"] {
    height: 40px;
    border-radius: 0; }
  .contact-form .radio-btn label {
    display: inline-block;
    margin-right: 20px; }
  .contact-form .send-btn {
    background: #1a2f51;
    border-radius: 0;
    color: white;
    text-shadow: none;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    padding: 5px 0; }

input.wpcf7-form-control.wpcf7-submit.send-btn.uk-button.uk-width-1-1 {
  color: white;
  background-color: #1a2f51; }

input.wpcf7-form-control.wpcf7-submit.send-btn.uk-button.uk-width-1-1:hover {
  transition: 0.5s;
  color: #ed7b37; }

/* Table */
.table {
  width: 80%;
  margin-left: 40px; }
  .table .table-header,
  .table .table-row {
    border-bottom: solid 1px #1a2f51;
    padding: 3px 0;
    transition: 0.2s; }
  .table .table-row:hover {
    background-color: #f9bf9c; }
  .table .table-header {
    padding-bottom: 15px; }
    .table .table-header h3 {
      font-size: 20px;
      font-family: "Marcellus", serif;
      color: #1a2f51;
      font-weight: 500; }
  .table h6 {
    font-size: 14px;
    font-family: 'Marcellus', serif;
    color: black;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px; }
  .table a {
    text-decoration: none; }
  .table .uk-grid > * {
    padding-left: 25px; }

.uk-slidenav-contrast {
  color: #1a2f51; }
  .uk-slidenav-contrast:hover {
    color: #1a2f51; }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(26, 47, 81, 0.95);
  font-family: "Marcellus", serif;
  font-weight: normal;
  z-index: 100;
  /* Overlay closing cross */
  /* Menu style */ }
  .overlay .submenu li a {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 3;
    letter-spacing: 2px; }
  .overlay .overlay-close {
    cursor: pointer;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 25px;
    top: 22px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100; }
  .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .overlay ul {
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative; }
  .overlay ul li {
    display: block;
    list-style-type: none;
    border-bottom: 1px solid #8d97a8; }
  .overlay ul li:last-child {
    display: block;
    list-style-type: none;
    border-bottom: none; }
  .overlay ul li a {
    font-weight: normal;
    font-size: 29px;
    line-height: 2.1;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .overlay ul li a:hover,
  .overlay ul li a:focus {
    text-decoration: none;
    color: #ed7b37; }

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(5%) rotateX(-35deg);
  transform: translateY(5%) rotateX(-35deg); }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
.controlHolder {
  border-radius: 0;
  background-color: rgba(26, 47, 81, 0.95);
  bottom: 20px;
  right: 20px;
  top: auto; }

.zoomer .uk-slidenav {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
  color: #fff !important;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase; }
.zoomer .uk-slidenav-position .uk-slidenav-previous {
  background: rgba(26, 47, 81, 0.4) url(../img/arrow-left.svg) no-repeat 95% 49%;
  background-size: 30px 30px;
  color: #fff;
  left: -155px;
  display: block;
  transition: 0.3s;
  width: 200px; }
  .zoomer .uk-slidenav-position .uk-slidenav-previous span {
    transition: 0.3s;
    opacity: 0; }
  .zoomer .uk-slidenav-position .uk-slidenav-previous:hover {
    left: -2px;
    opacity: 1;
    background: rgba(237, 123, 55, 0.8) url(../img/arrow-left.svg) no-repeat 0 49%;
    background-size: 30px 30px;
    color: #fff; }
    .zoomer .uk-slidenav-position .uk-slidenav-previous:hover span {
      opacity: 1; }
  .zoomer .uk-slidenav-position .uk-slidenav-previous:before {
    color: #fff;
    content: ''; }
.zoomer .uk-slidenav-position .uk-slidenav-next {
  right: -150px;
  background: rgba(26, 47, 81, 0.4) url(../img/arrow-right.svg) no-repeat 5% 49%;
  background-size: 30px 30px;
  display: block;
  transition: 0.3s;
  width: 200px; }
  .zoomer .uk-slidenav-position .uk-slidenav-next span {
    transition: 0.3s;
    opacity: 0; }
  .zoomer .uk-slidenav-position .uk-slidenav-next:hover {
    right: -0px;
    opacity: 1;
    background: rgba(237, 123, 55, 0.8) url(../img/arrow-right.svg) no-repeat 99% 49%;
    background-size: 30px 30px; }
    .zoomer .uk-slidenav-position .uk-slidenav-next:hover span {
      opacity: 1; }
  .zoomer .uk-slidenav-position .uk-slidenav-next:before {
    content: '';
    color: #fff; }

.uk-overlay-panel {
  color: #1a2f51;
  width: 450px;
  height: 200px;
  margin-left: 30px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 20px; }
  .uk-overlay-panel h4 {
    font-size: 35px;
    line-height: 1.4;
    font-family: "Marcellus", serif; }
  .uk-overlay-panel h5 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1px; }

.uk-overlay-background {
  background: rgba(255, 255, 255, 0.9); }

/*╨г╨▒╤А╨░╨╗ ╨╗╨╛╨│╨╛ zdc*/
.page.show-logo::after {
  display: none; }

/*Blog*/
.content {
  min-height: 100vh;
  background-color: #efefef;
  border-top: solid #efefef 1px; }

.shadow {
  width: 90%;
  border-bottom: solid #1a3f64 1px;
  float: right;
  margin-right: 30px; }

.uk-search:before {
  transform: scale(-1, 1);
  color: #1a3f64; }

.uk-search-field {
  width: 100%;
  padding-right: 30px;
  padding-left: 0px; }

.uk-search-field:active {
  width: 100%; }

.content h1 {
  font-size: 33px;
  font-family: "Marcellus";
  color: #1a3f64;
  line-height: 0.818;
  margin-left: 140px; }

.content a {
  color: black; }

.content a:hover {
  text-decoration: none;
  border: none; }

.news {
  margin-top: 60px; }

.f_block:hover, .t_block:hover {
  opacity: 0.7; }

.f_block .inf_cont {
  background-color: white; }
  .f_block .inf_cont h6 {
    font-size: 25px;
    font-family: "Marcellus";
    color: #1a3f64;
    line-height: 1.08; }
  .f_block .inf_cont img {
    width: 100%; }

.t_block .inf_cont {
  background-color: #1a3e63; }
  .t_block .inf_cont h6 {
    font-size: 25px;
    font-family: "Marcellus";
    color: white;
    line-height: 1.08; }

.inf_t {
  padding: 30px; }

.data {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 30px; }
  .data p {
    font-size: 13px;
    font-family: "Montserrat";
    color: #999999;
    line-height: 1.846; }

.button {
  position: relative;
  margin: 100px auto;
  width: 290px;
  height: 40px;
  background-color: #1a3e63;
  left: 50%;
  margin-left: -145px;
  border-radius: 0px;
  color: white !important;
  padding-top: 3px; }

.button:hover {
  background-color: #1a3e63;
  color: #ef8e54 !important; }

/*blog_cont*/
.c_pos {
  position: relative !important;
  margin: 200px auto;
  text-align: center; }
  .c_pos h1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px; }
  .c_pos .data {
    padding: 0; }
    .c_pos .data p {
      font-size: 13px;
      font-family: "Montserrat";
      color: #999999;
      line-height: 1.846;
      text-align: center; }
  .c_pos img {
    margin-top: 15px;
    margin-bottom: 45px; }
  .c_pos p {
    font-size: 15px;
    font-family: "Montserrat";
    color: #555541;
    line-height: 2.2;
    text-align: left; }

.social_links {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 230px; }
  .social_links p {
    font-size: 12px;
    font-family: "Montserrat";
    color: #ed7b37;
    line-height: 2;
    text-align: center; }
  .social_links img {
    margin: 0px; }
  .social_links a {
    padding-left: 13px; }
  .social_links a:last-child {
    padding-right: 13px; }

.back_link {
  position: absolute;
  top: 200px;
  left: 30px;
  z-index: 999;
  font-size: 13px;
  font-family: "Montserrat";
  color: #1a3f64;
  font-weight: bold;
  line-height: 1.21; }
  .back_link:hover {
    border: none;
    color: #ec7a37;
    text-decoration: none;
    font-size: 14px;
    transition: 500ms; }

.uk-search-field:focus,
.uk-search.uk-active .uk-search-field {
  width: 100%; }

.uk-search:before {
  right: 0; }

@media (max-width: 1460px) {
  .width800 h2 {
    font-size: 25px; } }
@media (max-width: 1045px) {
  .table .table-header h3 {
    font-size: 15px; }
  .table h6 {
    font-size: 14px; }
  .table .uk-grid > * {
    padding-left: 11px; } }
@media (max-width: 800px) {
  /*Slideshow*/
  .sliding-aside.open {
    position: relative;
    width: auto;
    height: auto;
    min-height: auto; }

  .sliding-aside.closed {
    position: relative;
    width: auto;
    height: auto;
    min-height: auto;
    cursor: pointer;
    top: 0;
    left: 0%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.9); }
    .sliding-aside.closed h1, .sliding-aside.closed p {
      transition: 0.5s;
      opacity: 1; }
    .sliding-aside.closed .bottom-links {
      transition: 0.3s;
      opacity: 1; }
    .sliding-aside.closed:hover {
      transition: 0.2s;
      background: rgba(255, 255, 255, 0.8);
      left: -1%; }

  .bottom-links {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
    width: 85%;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    height: 40px;
    background: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    opacity: 1;
    /*╨Ф╨╛╨▒╨░╨▓╨╕╨╗ ╨┤╨╗╤П ╤Ж╨╡╨╜╤В╤А╨░╨╗╨╕╨╖╨░╤Ж╨╕╨╕*/
    left: 50%;
    margin-left: -42.5%;
    z-index: 100; }

  .aside, .main {
    width: 100%; }

  .aside-content {
    width: 100%;
    position: relative !important; }

  .main {
    padding-top: 80px;
    padding-bottom: 100px; }

  .main p {
    padding-left: 10px; }

  /*Kontakt page*/
  .main h2 {
    margin-left: 10px; }

  .contact-form {
    width: 90%;
    margin-left: 10px; }

  /*map*/
  #map {
    height: 100vh; }

  /*plan*/
  .table {
    width: 90%;
    margin-left: 40px;
    margin-top: 50px; }
    .table .table-header h3 {
      font-size: 17px; }
    .table h6 {
      font-size: 15px; }
    .table .uk-grid > * {
      padding-left: 10px; }

  .topnav h2::after {
    content: none; }

  /*Floorplan*/
  .zoomer {
    width: 100%;
    padding-bottom: 100px; }

  .zoomer .uk-slidenav-position .uk-slidenav-previous {
    left: -130px; } }
@media (max-width: 730px) {
  /*Header*/
  .topnav {
    height: 70px;
    padding-bottom: 0px; }

  .topnav h2 {
    margin-top: 5px;
    margin-bottom: 0px; }

  .topnav h3 {
    margin-top: 5px;
    margin-bottom: 0px; }

  .topnav #trigger-overlay {
    margin-top: 22px;
    margin-right: 30px; }

  /*Slider*/
  .uk-overlay-panel {
    width: 400px; }

  .uk-overlay-panel h4 {
    font-size: 33px; } }
@media (max-width: 480px) {
  .topnav {
    text-align: left;
    padding: 10px 0 0 15px;
    height: 50px;
    width: 100%; }
    .topnav h2 {
      font-size: 14px;
      line-height: 1;
      margin: 0; }
      .topnav h2:after {
        content: '\A'; }
    .topnav h3 {
      margin: 0;
      font-size: 11px; }
    .topnav .logo-link {
      white-space: normal; }
    .topnav #trigger-overlay {
      margin-top: 6px;
      margin-right: 30px; }
      .topnav #trigger-overlay span {
        display: none; }

  .uk-overlay-panel {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 35px;
    padding-left: 20px; }
    .uk-overlay-panel h4 {
      font-size: 28px; }
    .uk-overlay-panel h5 {
      font-size: 14px; }

  .uk-dotnav > * > * {
    display: block;
    box-sizing: content-box;
    width: 40px;
    height: 4px;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.8);
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

  .overlay ul {
    width: 50%; }
  .overlay ul li a {
    font-weight: normal;
    font-size: 20px;
    line-height: 2.1;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .overlay .submenu li a {
    font-size: 12px; }

  .aside, .sliding-aside {
    padding-left: 30px;
    padding-right: 10px;
    min-height: auto;
    height: auto;
    overflow-y: hidden; }

  .bottom-links .btn-prev {
    text-align: left; }
  .bottom-links .btn-next {
    text-align: right; }

  /*plan page*/
  .table {
    width: 90%;
    margin-left: 30px; }
    .table .table-header h3 {
      font-size: 11px; }
    .table h6 {
      font-size: 9px; }

  /*Impressum*/
  .text-content {
    padding-left: 10px;
    padding-right: 10px; }

  .text-content p a {
    display: flex;
    flex-wrap: wrap; }

  .aside h1, .aside h2, .sliding-aside h1, .sliding-aside h2, .main h1, .main h2 {
    font-size: 30px; }
  .aside h3, .sliding-aside h3, .main h3 {
    font-size: 25px; }

  .width800 h2 {
    font-size: 25px; } }
@media (max-width: 380px) {
  .table .table-header h3 {
    font-size: 9px; }
  .table h6 {
    font-size: 8px; }
  .table .uk-grid > * {
    padding-left: 5px; } }

/*# sourceMappingURL=style.css.map */
