@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
@import url('https://fonts.googleapis.com/css?family=Marcellus:400');

$font1: 'Montserrat', sans-serif;
$font2: 'Marcellus', serif;

$topnav-height: 50px;
$color1: rgb(26, 47, 81);
$color2: rgb(237, 123, 55);
$color1-alpha: rgba(26, 47, 81, 0.95);

.page.show-logo::after {
  background-image: url(../img/zdc-logo.png);
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 186px;//
  height: 34px;//
  z-index: 99; ///
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  display: block;///
  height: $topnav-height;
  background-color: $color1;
  color: #fff;
  z-index: 99;

  padding: 0px 0 10px 30px;

  a {
    text-decoration: none;
  }

  .logo-link{
   // white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    //margin: 0;
    display: inline-block;
    //height: 20px;

    font-family: $font2;
    font-weight: normal;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s;

    &:after {
      content: '|';
      display: inline-block;
      font-size: 24px;
      padding: 0 8px;
    }

    &:hover {
      letter-spacing: 2.5px;
    }
  }


  h3 {
    display: inline-block;
    font-family: $font1;
    color: #fff;
    letter-spacing: 2px;
    transition: 0.2s;
    font-weight: 300;
    font-size: 12px;
  }

  #trigger-overlay {
    display: inline-block;
    margin-right: 20px;
margin-top: 17px;
    cursor: pointer;
    font-family: $font1;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    background: none;
    color: #fff;
    border: none;
    transition: 0.2s;

    .icon {
      vertical-align: middle;
      padding-left: 17px;
      font-size: 22px;
      transform: scale(1.5, 1);
      -webkit-transform: scale(1.5, 1);
    }

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $color2;
      letter-spacing: 4px;
    }
  }
}

.aside, .main {
  // height: calc(100vh - #{$topnav-height + 20px});
}

.aside {
  height: 100vh;
  overflow-y: scroll;
}

.main {
  padding-top: $topnav-height + 90px; //
  overflow-y: scroll;
  overflow: auto;/*ДОБАВИЛ ЧТОБЫ НЕБЫЛО ВИДНО ПАЛОК СНИЗУ И СБОКУ PS САША */
}

.zoomer {
  padding-top: $topnav-height + 20px;
  padding-left: 3px; //
  overflow: hidden;

  .zoomHolder {
    display: block;
    height: 92vh;
    width: 100%;
    overflow: hidden;
  }

}

.sliding-aside.open {
  position: absolute;
  cursor: pointer;
  height: 100vh;
  width: 34%;
  top: 0;
  left: 0%;
  z-index: 20;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.9);

  h1, p {
    transition: 0.5s;
    opacity: 1;
  }

  .bottom-links {
    transition: 0.3s;
    opacity: 1;
  }

  &:hover {
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.8);
    left: -1%;
  }
}

.sliding-aside.closed {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  //height: 100vh;
  width: 34%;
  top: 0;
  left: -35%;
  z-index: 20;
  background: rgba(255, 255, 255, 0.5);

  &:hover {
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.8);
    left: -33%;
  }

  .bottom-links {
    transition: 0.3s;
    opacity: 0;
  }

  h1, p {
    transition: 0.5s;
    opacity: 0;
  }
}

.aside,
.sliding-aside {

  // padding: 20px;
  padding-left: 70px;
  padding-right: 20px;
  overflow: scroll;

  min-height: 100%;
  overflow: auto;/*ДОБАВИЛ ЧТОБЫ НЕБЫЛО ВИДНО ПАЛОК СНИЗУ И СБОКУ PS САША */

  .text-content {
    padding-top: 140px;
  }

  .btn-prev, .btn-next {
  }

  a {
    color: $color1;
    font-size: 14px;
    padding-bottom: 25px;
    font-family: $font1;
    transition: 0.2s;
    letter-spacing: 0;

    &:hover {
      text-decoration: none;
      color: $color2;
      transition: 0.2s;
      letter-spacing: 2px;

    }

    .icon {
      display: inline-block;
      margin: 0 10px;
    }

  }

}
.sliding-aside .text-content{
  padding-bottom: 100px;
}

.aside,
.main,
.sliding-aside {

  h1, h2, h3 {
    font-family: $font2;
    color: $color1;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
  }


  h3{
    font-size: 30px;

  }

  p {
    font-family: $font1;
    font-size: 16px;
    line-height: 1.5;
  }
}

.bottom-links {
  width: 27%; //
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  height: 40px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  opacity: 1;
}

.map-legend-info {
  h3 {
    margin: 25px 0;
    color: $color1;
    letter-spacing: 1px;
    font-family: $font2;

  }

  ul,
  ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    padding-bottom: 10px;
    font-family: $font1;

  }

}


.uk-dotnav > .uk-active > * {
  background: rgba($color1,.8);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.dotnav-position {
  margin-left: 0px;
}

.uk-dotnav > * > * {
  display: block;
  box-sizing: content-box;
  width: 80px;
  height: 4px;
  border-radius: 0;
  background: rgba(255,255,255,.8);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}



.contact-form {
  width: 95%;

  input, select, textarea, label {
    font-size: 14px;
    font-family: $font1;
    font-weight: 300;
  }

  .uk-form-row {
    margin: 10px 0;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"]
  {
    height: 40px;
    border-radius: 0;
  }

  .radio-btn label {
    display: inline-block;
    margin-right: 20px;
  }

  .send-btn {
    background: #1a2f51;
    border-radius: 0;
    color: white;
    text-shadow: none;
    font-family: $font1;
    letter-spacing: 1px;
    padding: 5px 0;
  }

}
input.wpcf7-form-control.wpcf7-submit.send-btn.uk-button.uk-width-1-1{
  color: white;
  background-color:#1a2f51 ;
}
input.wpcf7-form-control.wpcf7-submit.send-btn.uk-button.uk-width-1-1:hover{
  transition: 0.5s;
  color: #ed7b37;
}

/* Table */
.table {
  width: 80%;
  margin-left: 40px;

  .table-header,
  .table-row {
    border-bottom: solid 1px $color1;
    padding: 3px 0;
    transition: 0.2s;
  }

  .table-row:hover {
    background-color: rgb(249, 191, 156);
  }

  .table-header {

    padding-bottom: 15px;

    h3 {
      font-size: 20px;
      font-family: $font2;
      color: $color1;
      font-weight: 500;
    }
  }

  h6 {

    font-size: 14px;
    font-family: 'Marcellus', serif;
    color: black;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  a {
    text-decoration: none;
  }
  .uk-grid>*{
    padding-left: 25px;
  }
}

.uk-slidenav-contrast {
  color: $color1;

  &:hover {
    color: $color1;
  }
}

///////////

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $color1-alpha;
  font-family: $font2;
  font-weight: normal;
  z-index: 100;

  .submenu {

    li a {
      font-family: $font1;
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 3;
      letter-spacing: 2px;
    }
  }

  /* Overlay closing cross */
  .overlay-close {
    cursor: pointer;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 25px;
    top: 22px;
    overflow: hidden;
    border: none;
    background: url(../img/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
  }

  /* Menu style */
  nav {
    text-align: center;
    position: relative;
    top: 50%;
    // height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  ul {
    width: 30%;

    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    //height: 100%;
    position: relative;
  }

  ul li {
    display: block;
    list-style-type: none;
    //padding: 20px;
    border-bottom: 1px solid rgb(141, 151, 168);
  }

  ul li:last-child {
    display: block;
    list-style-type: none;
    //padding: 20px;
    border-bottom: none;
  }

  ul li a {
    font-weight: normal;
    font-size: 29px;
    line-height: 2.1;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }

  ul li a:hover,
  ul li a:focus {
    text-decoration: none;
    color: $color2;
  }
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(5%) rotateX(-35deg);
  transform: translateY(5%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}

.controlHolder {
  border-radius: 0;
  background-color: $color1-alpha;
  bottom: 20px;
  right: 20px;
  top: auto;
}

.zoomer {

  .uk-slidenav {

    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-family: $font1;
    color: #fff !important;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

  }

  .uk-slidenav-position .uk-slidenav-previous {
    background: rgba($color1, 0.4) url(../img/arrow-left.svg) no-repeat 95% 49%;
    background-size: 30px 30px;
    color: #fff;
    left: -155px;
    display: block;
    //opacity: 0.2;
    transition: 0.3s;
    width: 200px;

    span {
      transition: 0.3s;

      opacity: 0;
    }

    &:hover {
      left: -2px;
      opacity: 1;
      background: rgba($color2, 0.8) url(../img/arrow-left.svg) no-repeat 0 49%;
      background-size: 30px 30px;
      color: #fff;

      span {
        opacity: 1;
      }
    }

    &:before {
      color: #fff;
      content: '';
    }
  }

  .uk-slidenav-position .uk-slidenav-next {
    right: -150px;
    background: rgba($color1, 0.4) url(../img/arrow-right.svg) no-repeat 5% 49%;
    background-size: 30px 30px;
    display: block;
    transition: 0.3s;
    width: 200px;

    span {
      transition: 0.3s;

      opacity: 0;
    }

    &:hover {
      right: -0px;
      opacity: 1;
      background: rgba($color2, 0.8) url(../img/arrow-right.svg) no-repeat 99% 49%;
      background-size: 30px 30px;

      span {
        opacity: 1;
      }
    }

    &:before {
      content: '';
      color: #fff;
    }
  }
}


.uk-overlay-panel{
  color: $color1;
  width: 450px;
  height: 200px;
  margin-left: 30px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 20px;


  h4{
    font-size: 35px;
    line-height: 1.4;
    font-family: $font2;
  }

  h5{
    font-size: 16px;
    font-family:$font1;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1px;
  }

}

.uk-overlay-background {
  background: rgba(255,255,255,.9);
}

/*Убрал лого zdc*/
.page.show-logo::after{
  display: none;
}

/*Blog*/
.content {
  min-height: 100vh;
  background-color: #efefef;
  border-top: solid #efefef 1px;
}

.shadow {
  width: 90%;
  border-bottom: solid rgb(26, 63, 100) 1px;
  float: right;
  margin-right: 30px;
}

.uk-search:before {
  transform: scale(-1, 1);
  color: rgb(26, 63, 100);
}

.uk-search-field {
  width: 100%;
  padding-right: 30px;
  padding-left: 0px;
}

.uk-search-field:active {
  width: 100%;
}

.content h1 {
  font-size: 33px;
  font-family: "Marcellus";
  color: rgb(26, 63, 100);
  line-height: 0.818;
  margin-left: 140px;
}

.content a {
  color: black;
}

.content a:hover {
  text-decoration: none;
  border: none;
}

.news {
  margin-top: 60px;
}

.f_block:hover, .t_block:hover {
  opacity: 0.7;
}

.f_block {
  .inf_cont {
    background-color: white;

    h6 {
      font-size: 25px;
      font-family: "Marcellus";
      color: rgb(26, 63, 100);
      line-height: 1.08;
    }
    img {
      width: 100%;
    }
  }
}

.t_block {
  .inf_cont {
    background-color: rgb(26, 62, 99);

    h6 {
      font-size: 25px;
      font-family: "Marcellus";
      color: white;
      line-height: 1.08;
    }
  }
}

.inf_t {
  padding: 30px;
}

.data {
  padding-top: 15px;
  padding-left: 30px;
  padding-bottom: 30px;
  p {
    font-size: 13px;
    font-family: "Montserrat";
    color: rgb(153, 153, 153);
    line-height: 1.846;
  }
}

.button {
  position: relative;
  margin: 100px auto;
  width: 290px;
  height: 40px;
  background-color: rgb(26, 62, 99);
  left: 50%;
  margin-left: -145px;
  border-radius: 0px;
  color: white !important;
  padding-top: 3px;

}

.button:hover {
  background-color: rgb(26, 62, 99);
  color: rgb(239, 142, 84) !important;
}

/*blog_cont*/
.c_pos {
  position: relative !important;
  margin: 200px auto;
  text-align: center;

  h1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
  }
  .data {
    padding: 0;
    p {
      font-size: 13px;
      font-family: "Montserrat";
      color: rgb(153, 153, 153);
      line-height: 1.846;
      text-align: center;
    }
  }
  img {
    margin-top: 15px;
    margin-bottom: 45px;
  }
  p{
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb( 85, 85, 65 );
    line-height: 2.2;
    text-align: left;
  }
}
.social_links{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
  p{
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb( 237, 123, 55 );
    line-height: 2;
    text-align: center;
  }
  img{
    margin: 0px;
  }
  a{
    padding-left: 13px;
  }
  a:last-child{
    padding-right: 13px;
  }
}

.back_link{
  position: absolute;
  top:200px;
  left: 30px;
  z-index: 999;
  font-size: 13px;
  font-family: "Montserrat";
  color: rgb( 26, 63, 100 );
  font-weight: bold;
  line-height: 1.21;
  &:hover{
    border: none;
    color: #ec7a37;
    text-decoration: none;
    font-size: 14px;
    transition: 500ms;
  }
}

.uk-search-field:focus,
.uk-search.uk-active .uk-search-field {
  width: 100%;
}
.uk-search:before {
  right: 0;
}



@import "max-width-800";
@import "0-375"; //
