<div class="bottom-links">
    <div class="uk-grid">
        <div class="uk-width-1-2 btn-prev">
            <a class="" href="{{ post.get_field('prev_page_link') }}"><i
                        class="icon uk-icon-long-arrow-left"></i> {{ post.prev_label }}</a>
        </div>
        <div class="uk-width-1-2 btn-next">
            <a class="" href="{{ post.get_field('next_page_link') }}">{{ post.next_label }}
                <i class="icon uk-icon-long-arrow-right"></i></a>
        </div>
    </div>
</div>