<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><i class="uk-icon-close"></i></button>
    <nav>
        <ul>
            {% for item in menu.get_items %}
                {% if item.get_children %}
                    <li><a href="#"
                           data-uk-toggle="{target:'.submenu', animation: 'uk-animation-scale-up'}">{{ item.title }} <i
                                    class="uk-icon uk-icon-angle-down"></i></a>

                        <ul class="submenu uk-hidden">

                            {% for submenu in item.get_children %}
                                <li><a href="{{ submenu.link }}">{{ submenu.title }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ item.link }}">{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}

            {#<li><a href="index.html">HOME</a></li>#}
            {#<li><a href="slideshow.html">OBJEKT</a></li>#}
            {#<li><a href="map.html">LAGE</a></li>#}
            {#<li><a href="slideshow.html">AUSSTATTUNG</a></li>#}
            {#<li>#}
            {#<a href="#" data-uk-toggle="{target:'.submenu', animation: 'uk-animation-scale-up'}">GRUNDRISSE <i class="uk-icon uk-icon-angle-down"></i></a>#}

            {#</li>#}
            {#<li><a href="slideshow.html">EXPOSE</a></li>#}
            {#<li><a href="kontakt.html">KONTAKT</a></li>#}
            {#<li><a href="#">PARTNER</a></li>#}
            {#<li><a href="impressum.html">IMPRESSUM</a></li>#}
        </ul>
    </nav>
</div>