<div class="topnav">
    <div class="uk-grid">
        <div class="uk-width-2-3 ">
            <a class="logo-link" href="#">
                <h2>{{ site.name }}</h2>
                <h3>{{ site.description }}</h3>
            </a>
        </div>

        <div class="uk-width-1-3 uk-text-right">
            <button id="trigger-overlay" type="button"><span>MENU </span><i class="icon uk-icon-navicon"></i>
            </button>
        </div>
    </div>
</div>

