<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ theme.link }}/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="{{ theme.link }}/css/components/slidenav.almost-flat.min.css">
    <link rel="stylesheet" href="{{ theme.link }}/css/components/slideshow.almost-flat.min.css">
    <link rel="stylesheet" href="{{ theme.link }}/css/components/dotnav.almost-flat.min.css">
    <link rel="stylesheet" href="{{ theme.link }}/css/pinchzoomer.min.css">
    <link rel="stylesheet" href="{{ theme.link }}/css/components/search.css">

    <link rel="stylesheet" href="{{ theme.link }}/css/style.css">
    <script src="{{ theme.link }}/js/jquery.min.js"></script>
    <script src="{{ theme.link }}/js/modernizr.custom.js"></script>
    <script src="{{ theme.link }}/js/uikit.min.js"></script>
    <script src="{{ theme.link }}/js/components/sticky.min.js"></script>
    <script src="{{ theme.link }}/js/components/lightbox.min.js"></script>
    <script src="{{ theme.link }}/js/components/slideshow.min.js"></script>
    <script src="{{ theme.link }}/js/components/slideshow-fx.min.js"></script>
    <script src="{{ theme.link }}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ theme.link }}/js/TweenMax.min.js"></script>
    <script src="{{ theme.link }}/js/hammer.min.js"></script>
    <script src="{{ theme.link }}/js/jquery.pinchzoomer.min.js"></script>
    <script src="{{ theme.link }}/js/components/grid.js"></script>
    <script src="{{ theme.link }}/js/components/search.js"></script>

    {{ function('wp_head') }}
</head>
<body>

