{% include 'html-header.twig' %}
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: {lat: {{ post.get_field('main_location')['lat']  }}, lng: {{ post.get_field('main_location')['lng'] }}},
            zoomControl: false,
            scaleControl: false,
            streetViewControl: false
        });

        var Marker = new google.maps.Marker({
            position: {lat: {{ post.get_field('main_location')['lat']  }}, lng: {{ post.get_field('main_location')['lng']  }}},
            map: map,
            icon: '{{ post.get_field('point_image') }}'
        });


        {%  for item in post.get_field('map_points') %}

        var Marker = new google.maps.Marker({
            position: {lat: {{ item.map['lat'] }}, lng: {{ item.map['lng'] }} },
            map: map,
            icon: '{{ item.image }}'
        });

        {% endfor %}

    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDnOMk9DROMd2zvLxpNsEN46ia1N-i-NQ&callback=initMap">
</script>

<div class="wrap">

    {% include '_topnav.twig' %}

    <div class="page uk-grid uk-margin-top-remove">

        <div class="aside uk-width-medium-1-3">
            <div class="aside-content">
                <div class="text-content">
                    {{ post.content }}

                    <div class="map-legend-info">
                        <ul>
                            {%  for item in post.get_field('map_points') %}
                            <li><img style="width:30px;" src="{{ item.image }}"/>  {{ item.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <p>&nbsp;</p>

                </div>

                {% include '_bottom-links.twig' %}
                {#<div class="bottom-links">#}
                    {#<div class="uk-grid">#}
                        {#<div class="uk-width-medium-1-2">#}
                            {#<a class="btn-prev" href="{{ post.get_field('prev_page_link') }}"><i#}
                                        {#class="icon uk-icon-long-arrow-left"></i> {{ post.prev_label }}</a>#}
                        {#</div>#}
                        {#<div class="uk-width-medium-1-2">#}
                            {#<a class="btn-next" href="{{ post.get_field('next_page_link') }}">{{ post.next_label }} <i#}
                                        {#class="icon uk-icon-long-arrow-right"></i></a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

            </div>
        </div>


        <div id="map" class="main uk-width-medium-2-3">

        </div>

    </div>

</div>

{% include 'footer.twig' %}