{% include 'html-header.twig' %}


<div class="wrap">

    {% include '_topnav.twig' %}

    <div class="page uk-grid uk-margin-top-remove width800">

        <div class="aside uk-width-medium-1-3">
            <div class="aside-content" data-uk-sticky="{top: 0}">
                <div class="text-content">
                    {{ post.content }}

                    <p>&nbsp;</p>

                </div>

                {% include '_bottom-links.twig' %}

            </div>
        </div>

        <div class="main uk-width-medium-2-3" style="background: #ebebeb;">
            <div class="table ">

                <div class="table-header uk-grid">
                    <div class="uk-width-2-10 uk-text-center"><h3>Wohnung</h3></div>
                    <div class="uk-width-1-10 uk-text-center"><h3>Haus</h3></div>
                    <div class="uk-width-1-10"><h3>Etage</h3></div>
                    <div class="uk-width-1-10"><h3>Zimmer</h3></div>
                    <div class="uk-width-1-10 uk-text-right"><h3>Größe</h3></div>
                    <div class="uk-width-2-10"><h3>Preis</h3></div>
                    <div class="uk-width-1-10"><h3>Status</h3></div>
                </div>

                {% for item in post.get_field('appartments') %}

                <a href="{{ item.image_plan }}" data-uk-lightbox="{group:'plans'}" title="">
                    <div class="table-row uk-grid">
                        <div class="uk-width-2-10 uk-text-center"><h6>{{ item.appartment }}</h6></div>
                        <div class="uk-width-1-10 uk-text-center"><h6>{{ item.house }}</h6></div>
                        <div class="uk-width-1-10 uk-text-center"><h6>{{ item.floor }}</h6></div>
                        <div class="uk-width-1-10 uk-text-center"><h6>{{ item.rooms }}</h6></div>
                        <div class="uk-width-1-10 uk-text-right"><h6>{{ item.area }} m<sup>2</sup></h6></div>
                        <div class="uk-width-2-10"><h6>{{ item.price }} €</h6></div>
                        <div class="uk-width-1-10"><h6>{{ item.status }}</h6></div>
                    </div>
                </a>

                {% endfor %}

            </div>
        </div>
    </div>

</div>


{% include 'footer.twig' %}