{% include 'html-header.twig' %}


<div class="wrap">

    {% include '_topnav.twig' %}

    <div class="page uk-grid uk-margin-top-remove">

        <div class="aside uk-width-medium-1-3">
            <div class="aside-content" data-uk-sticky="{top: 0}">
                <div class="text-content">
                    <h1>{{ post.title }}</h1>

                    {{ post.get_field('side_content') }}

                    <p>&nbsp;</p>
                </div>

                {% include '_bottom-links.twig' %}

            </div>
        </div>


        <div class="main uk-width-medium-2-3" style="background: #ebebeb;">

            <div class="text-content uk-width-medium-2-3">

                {{ post.content }}

            </div>
        </div>

    </div>

</div>

{% include 'footer.twig' %}