{% include 'html-header.twig' %}


<div class="wrap">

    {% include '_topnav.twig' %}

    <div class="page uk-grid uk-margin-top-remove">

        <div class="aside uk-width-medium-1-3">
            <div class="aside-content" data-uk-sticky="{top: 0}">
                <div class="text-content">
                    {{ post.content }}

                    <p>&nbsp;</p>

                </div>

                {% include '_bottom-links.twig' %}


            </div>


        </div>


        <div class="zoomer uk-width-medium-2-3" style="background: #ebebeb;">


            <div class="uk-slidenav-position" data-uk-slideshow="{animation:'scroll'}">
                <ul class="uk-slideshow">

                   {% for item in post.get_field('floorplans') %}

                       <li>
                        <div class="zoomHolder">
                            <img src="{{ item['url'] }}" data-elem="pinchzoomer"
                                 data-options="scaleMode:proportionalInside;maxZoom:3;"/>
                        </div>
                    </li>

                    {% endfor %}



                </ul>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous"
                   data-uk-slideshow-item="previous" style="color: rgba(0,0,0,0.4)"><span>Vorige Etage</span></a>
                <a href="#" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"
                   style="color: rgba(0,0,0,0.4)"><span>Nächste Etage</span></a>
            </div>

        </div>

    </div>

</div>

{% include 'footer.twig' %}