{% include 'html-header.twig' %}

<div class="wrap">

    {% include '_topnav.twig' %}

    <div class="content">
        <div data-uk-grid style="margin-top: 160px">
            <div class="uk-width-1-4 uk-width-medium-1-3 uk-width-small-1-2">
                <h1>WHAT'S NEW</h1>
            </div>
            <div class="uk-width-3-4 uk-width-medium-2-3 uk-width-small-1-2">
                <form class="uk-search shadow" data-uk-search>
                    <input class="uk-search-field" type="search" placeholder="Search in blog...">
                </form>
            </div>
        </div>


        <div style="padding: 0px 20px">
            <div class="news uk-grid-width-xlarge-1-4 uk-grid-width-large-1-3 uk-grid-width-medium-1-2"
                 data-uk-grid="{gutter: 20}">

                {% for post in posts %}

                    {% if post.thumbnail %}

                        <a href="{{ post.link }}">

                            <div class="f_block">
                                <div class="inf_cont">
                                    <img src="{{ TimberImage(post.thumbnail).src }}">
                                    <div class="inf_t">
                                        <h6>{{ post.title }}</h6>
                                        <p>{{ post.post_excerpt }}</p>
                                    </div>
                                    <div class="data">
                                        <p>{{ post.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% else %}

                        <a href="{{ post.link }}">

                            <div class="t_block">
                                <div class="inf_cont">
                                    <div class="inf_t">
                                        <h6>{{ post.post_excerpt }}</h6>
                                    </div>
                                    <div class="data">
                                        <p>{{ post.date }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    {% endif %}

                {% endfor %}

            </div>

            {#<a class=" uk-button button" href="#">MORE ARTICLES</a>#}

        </div>
    </div>
</div>


{% include 'footer.twig' %}