{% include 'html-header.twig' %}


<div class="wrap">

    {% include '_topnav.twig' %}

    <div class="page uk-grid uk-margin-top-remove">
        <div class="uk-width-medium-1-1">
            <div class="sliding-aside open" style="">
                <div class="text-content">
                    {{ post.content }}
                </div>


            {% include '_bottom-links.twig' %}


            </div>

            <div data-uk-slideshow="{autoplay:true, kenburns:true, autoplayInterval: 5000, duration: 5000}">

                <div class="uk-slidenav-position">
                    <ul class="uk-slideshow uk-slideshow-fullscreen">

                        {% for image in post.get_field('textpage_slideshow') %}
                            <li><img src="{{ TimberImage(image) }}" alt=""></li>
                        {% endfor %}

                    </ul>
                    <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                        {% for image in post.get_field('textpage_slideshow') %}
                            <li data-uk-slideshow-item="{{ loop.index0 }}"><a href=""></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'footer.twig' %}