{% include 'html-header.twig' %}


<div class="wrap">

{% include '_topnav.twig' %}

    <div class="page uk-grid uk-margin-top-remove">
        <div class="uk-width-medium-1-1">
            <div data-uk-slideshow="{autoplay:true, animation:'slice-up-down', slices: 2, autoplayInterval: {{ post.get_field('slide_interval_ms') }}, duration: 2000}">
                <div class="uk-slidenav-position uk-overlay-active">
                    <ul class="uk-slideshow uk-slideshow-fullscreen">
                        {% for item in post.get_field('slideshow') %}
                            <li><img src="{{ TimberImage(item.slide_image).src }}" alt="{{ item.slide_image.alt }}">
                                <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom {{ item.title_block_effect }}">
                                    <h4>{{ item.slide_headline }}</h4>
                                    <h5>{{ item.slide_sub_headline }}</h5>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-left uk-margin-left">
                        {% for item in post.get_field('slideshow') %}
                            <li data-uk-slideshow-item="{{ loop.index0 }}"><a href=""></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.twig' %}