{% include 'html-header.twig' %}

<div class="wrap">

    {% include '_topnav.twig' %}

    <a href="{{ blog_url }}" class="back_link">< GO BACK TO BLOG</a>

    <div class="content" data-uk-grid>

        <div class="uk-width-xlarge-1-2 uk-width-2-3 c_pos">
            <h1>{{ post.title }}</h1>
            <div class="data"><p>{{ post.date }}</p></div>
            <img src="{{ post.thumbnail }}">

            <p>
                {{ post.content }}
            </p>
            {#<div class="social_links">#}
                {#<p>Share:</p>#}
                {#<a href=""><img src="img/facebook.png"></a>#}
                {#<a href=""><img src="img/twitter.png"></a>#}
                {#<a href=""><img src="img/g+.png"></a>#}
                {#<a href=""><img src="img/in.png"></a>#}

            {#</div>#}
        </div>



    </div>
</div>


{% include 'footer.twig' %}